html, body, #map{
	width:100%;
	height:100%;
	margin:0px;
	z-index: 0;
}
#basemap-control {
	position: absolute;
	top: 10px;
	left: 10px;
	width: 300px;
	background: #1b222c;
	border-radius: 10px;
	padding: 10px;
	z-index:1;
	color:#fff;
}